body, #title {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

body {
    height: 420px;
    width: 600px;
    background-color: rgb(13, 13, 87);
  
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#animationContainer {
    background-color: rgb(13, 13, 87);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
      /* box-sizing: border-box; */
}
#title{
    color: beige;
    font-size: 50px;
    text-align: center;
}

#animation {
    height: 10%;
    width: 10%;
    background-color: rgb(255, 119, 0);
}
button {
    border: 3px solid #222;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
}