* {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

body {
  height: 580px;
  width: 580px;
  background-color: rgb(13, 13, 87);
  position: relative;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#animationContainer {
  background-color: rgb(13, 13, 87);
  width: 60%;
  height: 60%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#title,
#breathCycle {
  color: beige;
  font-size: 30px;
  text-align: center;
}

#animation {
  height: 10%;
  width: 10%;
  background-color: rgb(255, 119, 0);
  border-radius: 50%;
}
button {
  border: 3px solid #222;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
}
